# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables / secret keys
.env
.env.*

# Editor / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
